SCREEN_TO_AI_HOTKEY=<ctrl>+<shift>+o
SCREEN_TO_AI_PAGE_DOWN_HOTKEY=<ctrl>+<shift>+l
SCREEN_TO_AI_PAGE_UP_HOTKEY=<ctrl>+<shift>+p
SCREEN_TO_AI_OUT_DIR=.screen_to_ai
SCREEN_TO_AI_OCR_LANG=chi_sim
SCREEN_TO_AI_OCR_PROVIDER=tencent

TENCENT_SECRET_ID=your id
TENCENT_SECRET_KEY=your key
TENCENT_REGION=ap-guangzhou
TENCENT_OCR_MODE=accurate

TESSERACT_CMD=tesseract.exe path(配了tencent ocr不用配直着)

DEEPSEEK_API_KEY=your key
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-chat
